body {
    margin: 0;
    padding: 0;
    background-image:url(imagens/fundo2.jpg) ;
    background-size:cover;
    font-family: "Comfortaa", sans-serif;
}

.login {
    width: 320px;
    height: 420px;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 75px 0px 75px 0px;
    color: white;
    background-color:rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 28px;
}

.logo {
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 112px;
}

.login p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login input {
    width: 100%;
    margin-bottom: 21px;
}

.login input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.login input[type="button"] {
    border-radius: 5cm;
    padding: 10px;
    letter-spacing: 2px;
}

.login input[type="button"]:hover {
    color: blue;
}

.login input[type="submit"] {
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background:#fff;
    border-radius: 20px;
}

.login input[type="submit"]:hover {
    cursor:pointer;
    background:rgb(0, 153, 255);  
}

.login a {
    color: white;
}

.login a:hover {
    color: rgb(0, 153, 255);
    cursor: pointer ;
}
